@page
@model LW_2.Pages.PostStateModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<section id="stateForm" class="form-state">
    <div class="container">
        <form method="post">
            <div class="mb-3">
                <label for="Title" class="form-label">Название статьи</label>
                <input type="text" asp-for="State!.Title" class="form-control" id="Title" required>
            </div>
            <div class="mb-3">
                <label for="Content" class="form-label">Содержание</label>
                <textarea type="text" asp-for="State!.Content" class="form-control" id="Content" style="height: 200px !important;" required> </textarea>
            </div>
            <div class="mb-3">
                <label for="Description" class="form-label">Описание</label>
                <textarea type="text" asp-for="State!.Description" class="form-control" id="Description" style="height: 113px !important;" required></textarea>
            </div>
            <div class="mb-3">
                <label for="Author" class="form-label">Авторы</label>
                <input type="text" asp-for="State!.Author" class="form-control" id="Author" required>
            </div>
            <div class="mb-3">
                <label for="Category" class="form-label">Категория</label>
                <input type="text" asp-for="State!.Category" class="form-control" id="Category" required>
            </div>

            <button type="submit" class="btn btn-primary">Добавить</button>
        </form>
    </div>
</section>