<header>
	<link rel="stylesheet" href="app.css" />
</header>

<div class="header-container container-fluid container-xl position-relative d-flex align-items-center justify-content-between">
	<a href="" class="logo d-flex align-items-center me-auto me-xl-0">
		<h1 class="sitename">Научные статьи</h1>
	</a>
	<nav id="navmenu" class="navmenu sections">
		<ul>
			<NavLink class="nav-link" href="" Match="NavLinkMatch.All">
				Главная
			</NavLink>
			<NavLink class="nav-link" href="states/#galleryMain">
				Статьи
			</NavLink>
			<NavLink class="nav-link" href="states/create">
				Добавить статью
			</NavLink>
		</ul>
		<i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
	</nav>
	<!-- Костыльное выравнивание по центру -->
	<a></a>
	<a></a>
	<!-- /Костыльное выравнивание по центру -->
</div>

@* <div class="top-row ps-3 navbar navbar-dark">
	<div class="container-fluid">
		<a class="navbar-brand" href="">BlazorApp</a>
	</div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
	<nav class="flex-column">
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="" Match="NavLinkMatch.All">
				<span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
			</NavLink>
		</div>

		<div class="nav-item px-3">
			<NavLink class="nav-link" href="counter">
				<span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
			</NavLink>
		</div>

		<div class="nav-item px-3">
			<NavLink class="nav-link" href="weather">
				<span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
			</NavLink>
		</div>
	</nav>
</div> *@

